/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* or inline-block, depending on your layout */
    margin: 10px 0; /* Adjust margin as needed */
}

h1, h2, h3 {
    margin-top: 0;
}

h2 {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
}

h3 {
    color: #444;
    margin-top: 20px;
}

iframe {
    max-width: 100%;
    border: none; /* Removes the default frame border */
    margin-bottom: 20px;
}

/* Additional styling can be added as needed */
